<app-add-edit-user [userData]="selectedUser" (saveUser)="saveUser($event)"></app-add-edit-user>

<div class="container-fluid">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th scope="row">
                    <div class="col-1">{{ user.id }}</div>
                </th>
                <td>
                    <div class="col-3">{{ user.firstName }}</div>
                </td>
                <td>
                    <div class="col-3">{{ user.lastName }}</div>
                </td>
                <td>
                    <div class="col-3">{{ user.email }}</div>
                </td>
                <td>
                    <div class="col-1"><button type="button" class="btn btn-primary btn-sm"  (click)="openModal(user)">Edit</button></div>
                </td>
                <td>
                    <div class="col-1"><button type="button" class="btn btn-danger btn-sm">Delete</button></div>
                </td>
            </tr>

        </tbody>
    </table>

</div>