<div class="container-fluid">

<table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">#Id</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><div class="col-1"  >1</div></th>
        <td><div class="col-3">abc</div></td>
        <td><div class="col-3">abc</div></td>
        <td><div class="col-3">abc@gmail.com</div></td>
        <td><div class="col-1"><button type="button" class="btn btn-primary btn-sm">Edit</button></div></td>
        <td><div class="col-1"><button type="button" class="btn btn-danger btn-sm">Delete</button></div></td>
      </tr>

    </tbody>
  </table>

</div>